<h1>Transaction Info</h1>
<section>
  <ul>
    <li>From:</li>
    <li>To:</li>
    <li>Value:</li>
    <li>Tx hash:</li>
    <li>Date:</li>
    <li>Mined in Block:</li>
    <li>Paid:</li>
    <li>Fee:</li>
  </ul>
  <ul>
    <li class="link" (click)="viewAddress(txData?.from)">{{txData?.from}}</li>
    <li class="link" (click)="viewAddress(txData?.to)">{{txData?.to}}</li>
    <li>{{txData?.value}}</li>
    <li>{{txData?.transactionHash}} </li>
    <li>{{txData?.dateReceived}}</li>
    <li class="link" (click)="viewBlock(txData?.minedInBlockIndex)">{{txData?.minedInBlockIndex}}</li>
    <li>{{txData?.paid}}</li>
    <li>{{txData?.fee}}</li>
  </ul>
</section>
