<h1>Pending transaction</h1>
<section>
  <article *ngFor="let transaction of transactions"  (click)="viewTransaction(transaction.transactionHash)">
    <ul>
      <li>Tx:</li>
      <li>From:</li>
      <li>To:</li>
      <li>Amount:</li>
      <li>Paid:</li>
      <li>Date:</li>
    </ul>
    <ul>
      <li>{{transaction.transactionHash}}</li>
      <li>{{transaction.from}}</li>
      <li>{{transaction.to}}</li>
      <li>{{transaction.value}}</li>
      <li>{{transaction.paid}}</li>
      <li>{{transaction.dateReceived}}</li>
    </ul>
  </article>
</section>