<h1>Block 51 Info</h1>
<section>
  <ul>
    <li>Index:</li>
    <li>TimeStamp:</li>
    <li>Transactions:</li>
    <li>Hash:</li>
    <li>Prev Block Hash:</li>
    <li>Mined by:</li>
    <li>Nonce:</li>
  </ul>
  <ul>
    <li>51</li>
    <li>28/02/2018</li>
    <li>6</li>
    <li>0x1e6cc5ccbbdcdb8b9dd1afab1b8f9275ffde62e8b8a72750583774b28a285217 </li>
    <li>0x5ca6475162e632579d9e5c7d3d7254c3818a01912e3a9bc67eb5485b7ed12c46</li>
    <li>0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5</li>
    <li>55325345</li>
  </ul>
</section>