<h1>Block {{blockIndex}} Info</h1>
<section>
  <ul>
    <li>TimeStamp:</li>
    <li>Transactions:</li>
    <li>Hash:</li>
    <li>Prev Block Hash:</li>
    <li>Mined by:</li>
    <li>Nonce:</li>
  </ul>
  <ul>
    <li>{{blockData?.dateCreated}}</li>
    <li class="transactions" (click)="viewBlockTransactions()">{{blockData?.transactions.length}}</li>
    <li>{{blockData?.blockHash}} </li>
    <li>{{blockData?.prevBlockHash}}</li>
    <li>{{blockData?.minedBy}}</li>
    <li>{{blockData?.nonce}}</li>
  </ul>
</section>