section {
    text-align: center;
}

article {
    background: #C7D9D9;
    margin: 10px;
    text-align: left;
    border-radius: 10px;
}

div {
    display: inline-block;
}

.block-num {
    background: #115D8C;
    width: 20%;
    margin: 20px;
    vertical-align: top;
    height: 120px;
    padding: 2px;
}

.block-num:hover {
    color: white;
    background: black;
    border: 2px solid #D9BA5F;
    cursor: pointer;
    padding: 0;
}

.block-num p {
    text-align: center;
    padding-top: 20px; 
    font-size: 25px; 
}

.transactions {
    color: blue;
}

.transactions:hover {
    text-decoration: underline;
    cursor: pointer;
}

.block-info {
    padding-top: 10px;
}