<h1>Block</h1>
<section>
  <article>
    <div class="block-num"><p>Block 51</p></div>
    <div class="block-info">
      <p>total transaction 5</p>
      <p>mined by 0x432432dfgdg43e54</p>
      <p>block reward 3</p>
    </div>
  </article>
  <article>
    <div class="block-num"><p>Block 50</p></div>
    <div class="block-info">
      <p>total transaction 5</p>
      <p>mined by 0x432432dfgdg43e54</p>
      <p>block reward 3</p>
    </div>
  </article>
  <article>
    <div class="block-num"><p>Block 49</p></div>
    <div class="block-info">
      <p>total transaction 5</p>
      <p>mined by 0x432432dfgdg43e54</p>
      <p>block reward 3</p>
    </div>
  </article>
  <article>
    <div class="block-num"><p>Block 48</p></div>
    <div class="block-info">
      <p>total transaction 5</p>
      <p>mined by 0x432432dfgdg43e54</p>
      <p>block reward 3</p>
    </div>
  </article>
</section>