section {
    text-align: center;
}

article {
    width: 80%;
    background: rgb(212, 207, 207);
    margin: 10px;
    text-align: left;
}

div {
    display: inline-block;
}

.block-num {
    background: gray;
    width: 20%;
    margin: 20px;
    vertical-align: top;
    height: 80px;
    padding: 2px;
}

.block-num:hover {
    color: white;
    background: black;
    border: 2px solid yellow;
    cursor: pointer;
    padding: 0;
}

.block-num p {
    text-align: center;
    padding-top: 13px;  
}

.transactions {
    color: blue;
}

.transactions:hover {
    text-decoration: underline;
    cursor: pointer;
}