<h1>Block 51 transactions</h1>
<section>
  <article>
    <ul>
      <li>Tx:</li>
      <li>From:</li>
      <li>To:</li>
      <li>Amount:</li>
    </ul>
    <ul>
      <li>0x78d9f2eb2c8ebcd48ce08963fa9fc99af3f2f3f79b41c07fd75bfe37110f868c</li>
      <li>0x0681d8db095565fe8a346fa0277bffde9c0edbbf</li>
      <li>0x957d712c0eab053afae0e0ab7f9999155c178bd3</li>
      <li>5</li>
    </ul>
  </article>
  <article>
    <ul>
      <li>Tx:</li>
      <li>From:</li>
      <li>To:</li>
      <li>Amount:</li>
    </ul>
    <ul>
      <li>0x78d9f2eb2c8ebcd48ce08963fa9fc99af3f2f3f79b41c07fd75bfe37110f868c</li>
      <li>0x0681d8db095565fe8a346fa0277bffde9c0edbbf</li>
      <li>0x957d712c0eab053afae0e0ab7f9999155c178bd3</li>
      <li>5</li>
    </ul>
  </article>
  <article>
    <ul>
      <li>Tx:</li>
      <li>From:</li>
      <li>To:</li>
      <li>Amount:</li>
    </ul>
    <ul>
      <li>0x78d9f2eb2c8ebcd48ce08963fa9fc99af3f2f3f79b41c07fd75bfe37110f868c</li>
      <li>0x0681d8db095565fe8a346fa0277bffde9c0edbbf</li>
      <li>0x957d712c0eab053afae0e0ab7f9999155c178bd3</li>
      <li>5</li>
    </ul>
  </article>
  <article>
    <ul>
      <li>Tx:</li>
      <li>From:</li>
      <li>To:</li>
      <li>Amount:</li>
    </ul>
    <ul>
      <li>0x78d9f2eb2c8ebcd48ce08963fa9fc99af3f2f3f79b41c07fd75bfe37110f868c</li>
      <li>0x0681d8db095565fe8a346fa0277bffde9c0edbbf</li>
      <li>0x957d712c0eab053afae0e0ab7f9999155c178bd3</li>
      <li>5</li>
    </ul>
  </article>
</section>